# [dbo].[Alter_Ego_Person_Temporal_History]

In [0]:
/****** Object:  Table [dbo].[Alter_Ego_Person_Temporal_History]    Script Date: 11/19/2020 8:09:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_Temporal_History]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego_Person_Temporal_History](
	[Alter_Ego_Person_ID] [int] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Alter_Ego_ID] [int] NOT NULL,
	[Sys_Start_Time] [datetime2](7) NOT NULL,
	[Sys_End_Time] [datetime2](7) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego_Person_Temporal_History] TO  SCHEMA OWNER 
GO

# [ix_Alter_Ego_Person_Temporal_History]

In [0]:
/****** Object:  Index [ix_Alter_Ego_Person_Temporal_History]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_Temporal_History]') AND name = N'ix_Alter_Ego_Person_Temporal_History')
CREATE CLUSTERED INDEX [ix_Alter_Ego_Person_Temporal_History] ON [dbo].[Alter_Ego_Person_Temporal_History]
(
	[Sys_End_Time] ASC,
	[Sys_Start_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [dbo].[Alter_Ego_Person]

In [0]:
/****** Object:  Table [dbo].[Alter_Ego_Person]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego_Person](
	[Alter_Ego_Person_ID] [int] IDENTITY(1,1) NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Alter_Ego_ID] [int] NOT NULL,
	[Sys_Start_Time] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[Sys_End_Time] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_Alter_Ego_Person] PRIMARY KEY CLUSTERED 
(
	[Alter_Ego_Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([Sys_Start_Time], [Sys_End_Time])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON ( HISTORY_TABLE = [dbo].[Alter_Ego_Person_Temporal_History] )
)
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego_Person] TO  SCHEMA OWNER 
GO

# [dbo].[Alter_Ego]

In [0]:
/****** Object:  Table [dbo].[Alter_Ego]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego](
	[Alter_Ego_ID] [int] IDENTITY(1,1) NOT NULL,
	[Alter_Ego_Name] [varchar](50) NOT NULL,
	[Comic_Universe_ID] [int] NOT NULL,
 CONSTRAINT [PK_Alter_Ego] PRIMARY KEY CLUSTERED 
(
	[Alter_Ego_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego] TO  SCHEMA OWNER 
GO

# [dbo].[Alter_Ego_Person_History]

In [0]:
/****** Object:  Table [dbo].[Alter_Ego_Person_History]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_History]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alter_Ego_Person_History](
	[Alter_Ego_Person_History_ID] [int] IDENTITY(1,1) NOT NULL,
	[History_Date] [datetime] NOT NULL,
	[ChangeType] [char](1) NOT NULL,
	[Old_Alter_Ego_ID] [int] NULL,
	[Old_Person_ID] [int] NULL,
	[New_Alter_Ego_ID] [int] NULL,
	[New_Person_ID] [int] NULL,
 CONSTRAINT [PK_Alter_Ego_Person_History] PRIMARY KEY CLUSTERED 
(
	[Alter_Ego_Person_History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Alter_Ego_Person_History] TO  SCHEMA OWNER 
GO

# [dbo].[Comic_Universe]

In [0]:
/****** Object:  Table [dbo].[Comic_Universe]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comic_Universe]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Comic_Universe](
	[Comic_Universe_ID] [int] IDENTITY(1,1) NOT NULL,
	[Comic_Universe_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Comic_Universe] PRIMARY KEY CLUSTERED 
(
	[Comic_Universe_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Comic_Universe] TO  SCHEMA OWNER 
GO

# [dbo].[Corporation]

In [0]:
/****** Object:  Table [dbo].[Corporation]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Corporation]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Corporation](
	[Corporation_ID] [int] IDENTITY(1,1) NOT NULL,
	[Corporation_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Corporation] PRIMARY KEY CLUSTERED 
(
	[Corporation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Corporation] TO  SCHEMA OWNER 
GO

# [dbo].[ETL_Error_Log]

In [0]:
/****** Object:  Table [dbo].[ETL_Error_Log]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ETL_Error_Log]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ETL_Error_Log](
	[ETL_Error_Log_ID] [int] IDENTITY(1,1) NOT NULL,
	[Error_Description] [varchar](500) NULL,
	[CSV_Data] [varchar](1000) NULL,
	[Error_Timestamp] [datetime] NULL,
 CONSTRAINT [PK_ETL_Error_Log] PRIMARY KEY CLUSTERED 
(
	[ETL_Error_Log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[ETL_Error_Log] TO  SCHEMA OWNER 
GO

# [dbo].[Gadget]

In [0]:
/****** Object:  Table [dbo].[Gadget]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gadget]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Gadget](
	[Gadget_ID] [int] IDENTITY(1,1) NOT NULL,
	[Gadget_Name] [varchar](50) NOT NULL,
	[Gadget_Desc] [varchar](254) NULL,
 CONSTRAINT [PK_Gadget] PRIMARY KEY CLUSTERED 
(
	[Gadget_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Gadget] TO  SCHEMA OWNER 
GO

# [dbo].[Gadget_Order_Form]

In [0]:
/****** Object:  Table [dbo].[Gadget_Order_Form]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Gadget_Order_Form](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_Date] [datetime] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Corporation_ID] [int] NULL,
	[Gadget_ID] [int] NOT NULL,
	[Number_Ordered] [int] NOT NULL,
	[Price_Per_Item] [numeric](19, 2) NOT NULL,
	[Tax] [numeric](19, 2) NOT NULL,
	[Shipping] [numeric](19, 2) NOT NULL,
	[Total_Due] [numeric](19, 2) NOT NULL,
 CONSTRAINT [PK_Gadget_Order_Form] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Gadget_Order_Form] TO  SCHEMA OWNER 
GO

# [dbo].[Good_Deed_History]

In [0]:
/****** Object:  Table [dbo].[Good_Deed_History]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Good_Deed_History]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Good_Deed_History](
	[Good_Deed_History_ID] [int] IDENTITY(1,1) NOT NULL,
	[Good_Deed_Type_ID] [tinyint] NULL,
	[Good_Deed_Person_ID] [int] NULL,
	[Good_Deed_Description] [varchar](250) NULL,
	[Good_Deed_Timestamp] [datetime] NULL,
 CONSTRAINT [PK_Good_Deed_History] PRIMARY KEY CLUSTERED 
(
	[Good_Deed_History_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Good_Deed_History] TO  SCHEMA OWNER 
GO

# [dbo].[Good_Deed_Type]

In [0]:
/****** Object:  Table [dbo].[Good_Deed_Type]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Good_Deed_Type]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Good_Deed_Type](
	[Good_Deed_Type_ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Good_Deed_Type_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Good_Deed_Type] PRIMARY KEY CLUSTERED 
(
	[Good_Deed_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Good_Deed_Type] TO  SCHEMA OWNER 
GO

# [dbo].[MSSQL_TemporalHistoryFor_725577623]

In [0]:
/****** Object:  Table [dbo].[MSSQL_TemporalHistoryFor_725577623]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MSSQL_TemporalHistoryFor_725577623]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MSSQL_TemporalHistoryFor_725577623](
	[Alter_Ego_Person_ID] [int] NOT NULL,
	[Person_ID] [int] NOT NULL,
	[Alter_Ego_ID] [int] NOT NULL,
	[Sys_Start_Time] [datetime2](7) NOT NULL,
	[Sys_End_Time] [datetime2](7) NOT NULL
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[MSSQL_TemporalHistoryFor_725577623] TO  SCHEMA OWNER 
GO

# [ix_MSSQL_TemporalHistoryFor_725577623]

In [0]:
/****** Object:  Index [ix_MSSQL_TemporalHistoryFor_725577623]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[MSSQL_TemporalHistoryFor_725577623]') AND name = N'ix_MSSQL_TemporalHistoryFor_725577623')
CREATE CLUSTERED INDEX [ix_MSSQL_TemporalHistoryFor_725577623] ON [dbo].[MSSQL_TemporalHistoryFor_725577623]
(
	[Sys_End_Time] ASC,
	[Sys_Start_Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [dbo].[Person]

In [0]:
/****** Object:  Table [dbo].[Person]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Person]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Person](
	[Person_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [varchar](50) NOT NULL,
	[Last_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Person] TO  SCHEMA OWNER 
GO

# [dbo].[Alter_Ego]

In [0]:
SET IDENTITY_INSERT [dbo].[Alter_Ego] ON 
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (1, N'Average Citizen', 1)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (2, N'Black Widow', 2)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (3, N'Spider Girl', 2)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (5, N'Catwoman', 3)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (6, N'Super Girl', 3)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (7, N'Wonder Woman', 3)
INSERT [dbo].[Alter_Ego] ([Alter_Ego_ID], [Alter_Ego_Name], [Comic_Universe_ID]) VALUES (8, N'Storm', 2)
SET IDENTITY_INSERT [dbo].[Alter_Ego] OFF
GO

# [dbo].[Alter_Ego_Person]

In [0]:
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person] ON 
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T01:11:45.4033347' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 6, CAST(N'2020-11-04T00:39:22.1569155' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (4, 4, 5, CAST(N'2020-11-04T00:39:22.1579149' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (5, 5, 3, CAST(N'2020-11-04T00:39:22.1579149' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (6, 6, 2, CAST(N'2020-11-04T00:39:22.1589163' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (7, 7, 8, CAST(N'2020-11-04T00:39:22.1589163' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T01:11:45.4003395' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (11, 11, 1, CAST(N'2020-11-04T00:43:38.4685835' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (12, 18, 1, CAST(N'2020-11-04T00:43:55.8622756' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (13, 17, 1, CAST(N'2020-11-04T00:43:55.8622756' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (14, 16, 1, CAST(N'2020-11-04T00:43:55.8622756' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (18, 12, 1, CAST(N'2020-11-04T00:43:55.8622756' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person] OFF
GO

# [dbo].[Alter_Ego_Person_History]

In [0]:
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person_History] ON 
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (1, CAST(N'2020-11-03T19:35:09.133' AS DateTime), N'I', NULL, NULL, 1, 1)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (2, CAST(N'2020-11-03T19:35:09.133' AS DateTime), N'I', NULL, NULL, 1, 2)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (3, CAST(N'2020-11-03T19:35:09.133' AS DateTime), N'I', NULL, NULL, 1, 3)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (4, CAST(N'2020-11-03T19:35:09.133' AS DateTime), N'I', NULL, NULL, 1, 4)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (5, CAST(N'2020-11-03T19:35:09.133' AS DateTime), N'I', NULL, NULL, 1, 5)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (6, CAST(N'2020-11-03T19:35:09.133' AS DateTime), N'I', NULL, NULL, 1, 6)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (7, CAST(N'2020-11-03T19:35:09.133' AS DateTime), N'I', NULL, NULL, 1, 7)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (8, CAST(N'2020-11-03T19:35:23.140' AS DateTime), N'U', 1, 1, 7, 1)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (9, CAST(N'2020-11-03T19:35:39.090' AS DateTime), N'D', 7, 1, NULL, NULL)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (10, CAST(N'2020-11-03T19:35:54.980' AS DateTime), N'I', NULL, NULL, 1, 8)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (11, CAST(N'2020-11-03T19:36:11.910' AS DateTime), N'D', 1, 8, NULL, NULL)
INSERT [dbo].[Alter_Ego_Person_History] ([Alter_Ego_Person_History_ID], [History_Date], [ChangeType], [Old_Alter_Ego_ID], [Old_Person_ID], [New_Alter_Ego_ID], [New_Person_ID]) VALUES (12, CAST(N'2020-11-03T19:36:29.033' AS DateTime), N'I', NULL, NULL, 1, 9)
SET IDENTITY_INSERT [dbo].[Alter_Ego_Person_History] OFF
GO

# [dbo].[Alter_Ego_Person_Temporal_History]

In [0]:
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-11-04T00:39:22.1559155' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (3, 3, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-11-04T00:39:22.1569155' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (4, 4, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-11-04T00:39:22.1579149' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (5, 5, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-11-04T00:39:22.1579149' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (6, 6, 1, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-11-04T00:39:22.1589163' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (7, 7, 8, CAST(N'1900-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-11-04T00:39:22.1589163' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:07.2361875' AS DateTime2), CAST(N'2020-11-04T00:39:37.9385831' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:22.1559155' AS DateTime2), CAST(N'2020-11-04T00:39:37.9385831' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:37.9385831' AS DateTime2), CAST(N'2020-11-04T00:39:37.9395957' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:37.9385831' AS DateTime2), CAST(N'2020-11-04T00:39:37.9406086' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:37.9395957' AS DateTime2), CAST(N'2020-11-04T00:39:38.0297158' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:37.9406086' AS DateTime2), CAST(N'2020-11-04T00:39:38.0297158' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.0297158' AS DateTime2), CAST(N'2020-11-04T00:39:38.0307328' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.0297158' AS DateTime2), CAST(N'2020-11-04T00:39:38.0307328' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.0307328' AS DateTime2), CAST(N'2020-11-04T00:39:38.1107270' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.0307328' AS DateTime2), CAST(N'2020-11-04T00:39:38.1116969' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.1107270' AS DateTime2), CAST(N'2020-11-04T00:39:38.1127147' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.1116969' AS DateTime2), CAST(N'2020-11-04T00:39:38.1127147' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.1127147' AS DateTime2), CAST(N'2020-11-04T00:39:38.1952232' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.1127147' AS DateTime2), CAST(N'2020-11-04T00:39:38.1961884' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.1952232' AS DateTime2), CAST(N'2020-11-04T00:39:38.1961884' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.1961884' AS DateTime2), CAST(N'2020-11-04T00:39:38.1961884' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.1961884' AS DateTime2), CAST(N'2020-11-04T00:39:38.2775081' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.1961884' AS DateTime2), CAST(N'2020-11-04T00:39:38.2785101' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.2775081' AS DateTime2), CAST(N'2020-11-04T00:39:38.2785101' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.2785101' AS DateTime2), CAST(N'2020-11-04T00:39:38.2785101' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.2785101' AS DateTime2), CAST(N'2020-11-04T00:39:38.3575195' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.2785101' AS DateTime2), CAST(N'2020-11-04T00:39:38.3575195' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.3575195' AS DateTime2), CAST(N'2020-11-04T00:39:38.3575195' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.3575195' AS DateTime2), CAST(N'2020-11-04T00:39:38.3585291' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.3575195' AS DateTime2), CAST(N'2020-11-04T00:39:38.4365082' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.3585291' AS DateTime2), CAST(N'2020-11-04T00:39:38.4365082' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.4365082' AS DateTime2), CAST(N'2020-11-04T00:39:38.4365082' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.4365082' AS DateTime2), CAST(N'2020-11-04T00:39:38.4375084' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.4365082' AS DateTime2), CAST(N'2020-11-04T00:39:38.5135169' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.4375084' AS DateTime2), CAST(N'2020-11-04T00:39:38.5145103' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.5135169' AS DateTime2), CAST(N'2020-11-04T00:39:38.5145103' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.5145103' AS DateTime2), CAST(N'2020-11-04T00:39:38.5145103' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.5145103' AS DateTime2), CAST(N'2020-11-04T00:39:38.5905083' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.5145103' AS DateTime2), CAST(N'2020-11-04T00:39:38.5905083' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.5905083' AS DateTime2), CAST(N'2020-11-04T00:39:38.5915101' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.5905083' AS DateTime2), CAST(N'2020-11-04T00:39:38.5915101' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.5915101' AS DateTime2), CAST(N'2020-11-04T00:39:38.6790009' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.5915101' AS DateTime2), CAST(N'2020-11-04T00:39:38.6799689' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.6790009' AS DateTime2), CAST(N'2020-11-04T00:39:38.6799689' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.6799689' AS DateTime2), CAST(N'2020-11-04T00:39:38.6809673' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.6799689' AS DateTime2), CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.6809673' AS DateTime2), CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2), CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2), CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2), CAST(N'2020-11-04T00:39:38.8232957' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.7623118' AS DateTime2), CAST(N'2020-11-04T00:39:38.8232957' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.8232957' AS DateTime2), CAST(N'2020-11-04T00:39:38.8232957' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.8232957' AS DateTime2), CAST(N'2020-11-04T00:39:38.8242956' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.8232957' AS DateTime2), CAST(N'2020-11-04T00:39:38.8938915' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.8242956' AS DateTime2), CAST(N'2020-11-04T00:39:38.8938915' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.8938915' AS DateTime2), CAST(N'2020-11-04T00:39:38.8948936' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.8938915' AS DateTime2), CAST(N'2020-11-04T00:39:38.8948936' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.8948936' AS DateTime2), CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.8948936' AS DateTime2), CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2), CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2), CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2), CAST(N'2020-11-04T00:39:39.0298537' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:38.9638530' AS DateTime2), CAST(N'2020-11-04T00:39:39.0298537' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:39.0298537' AS DateTime2), CAST(N'2020-11-04T00:39:39.0308719' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:39.0298537' AS DateTime2), CAST(N'2020-11-04T00:39:39.0308719' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:39.0308719' AS DateTime2), CAST(N'2020-11-04T00:39:39.0938534' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:39.0308719' AS DateTime2), CAST(N'2020-11-04T00:39:39.0948565' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:39.0938534' AS DateTime2), CAST(N'2020-11-04T00:39:39.0948565' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:39.0948565' AS DateTime2), CAST(N'2020-11-04T00:39:39.0948565' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:39.0948565' AS DateTime2), CAST(N'2020-11-04T00:39:39.1678534' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:39.0948565' AS DateTime2), CAST(N'2020-11-04T00:39:39.1678534' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:39.1678534' AS DateTime2), CAST(N'2020-11-04T00:39:39.1688596' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:39.1678534' AS DateTime2), CAST(N'2020-11-04T00:39:39.1688596' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:39.1688596' AS DateTime2), CAST(N'2020-11-04T00:39:39.2368557' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:39.1688596' AS DateTime2), CAST(N'2020-11-04T00:39:39.2368557' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:39.2368557' AS DateTime2), CAST(N'2020-11-04T00:39:39.2378548' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:39.2368557' AS DateTime2), CAST(N'2020-11-04T00:39:39.2378548' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:39.2378548' AS DateTime2), CAST(N'2020-11-04T00:39:39.3018533' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:39.2378548' AS DateTime2), CAST(N'2020-11-04T00:39:39.3028639' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:39.3018533' AS DateTime2), CAST(N'2020-11-04T00:39:39.3028639' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:39.3028639' AS DateTime2), CAST(N'2020-11-04T00:39:39.3028639' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:39.3028639' AS DateTime2), CAST(N'2020-11-04T00:39:39.3669107' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:39.3028639' AS DateTime2), CAST(N'2020-11-04T00:39:39.3669107' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:39:39.3669107' AS DateTime2), CAST(N'2020-11-04T00:39:39.3669107' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:39:39.3669107' AS DateTime2), CAST(N'2020-11-04T00:39:39.3678542' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 1, CAST(N'2020-11-04T00:39:39.3669107' AS DateTime2), CAST(N'2020-11-04T00:40:20.8163039' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 7, CAST(N'2020-11-04T00:39:39.3678542' AS DateTime2), CAST(N'2020-11-04T00:40:20.8173032' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (10, 10, 7, CAST(N'2020-11-04T00:40:20.8163039' AS DateTime2), CAST(N'2020-11-04T01:11:45.4003395' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (2, 2, 1, CAST(N'2020-11-04T00:40:20.8173032' AS DateTime2), CAST(N'2020-11-04T01:11:45.4033347' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (17, 13, 1, CAST(N'2020-11-04T00:43:55.8622756' AS DateTime2), CAST(N'2020-11-20T00:35:33.4441432' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (16, 14, 1, CAST(N'2020-11-04T00:43:55.8622756' AS DateTime2), CAST(N'2020-11-20T00:35:33.4441432' AS DateTime2))
INSERT [dbo].[Alter_Ego_Person_Temporal_History] ([Alter_Ego_Person_ID], [Person_ID], [Alter_Ego_ID], [Sys_Start_Time], [Sys_End_Time]) VALUES (15, 15, 1, CAST(N'2020-11-04T00:43:55.8622756' AS DateTime2), CAST(N'2020-11-20T00:35:33.4441432' AS DateTime2))
GO

# [dbo].[Comic_Universe]

In [0]:
SET IDENTITY_INSERT [dbo].[Comic_Universe] ON 
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (4, N'Cartoon Network')
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (3, N'DCU')
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (2, N'Marvel')
INSERT [dbo].[Comic_Universe] ([Comic_Universe_ID], [Comic_Universe_Name]) VALUES (1, N'No Universe')
SET IDENTITY_INSERT [dbo].[Comic_Universe] OFF
GO

# [dbo].[Corporation]

In [0]:
SET IDENTITY_INSERT [dbo].[Corporation] ON 
INSERT [dbo].[Corporation] ([Corporation_ID], [Corporation_Name]) VALUES (1, N'Stark Industries')
INSERT [dbo].[Corporation] ([Corporation_ID], [Corporation_Name]) VALUES (2, N'Wayne Enterprises')
SET IDENTITY_INSERT [dbo].[Corporation] OFF
GO

# [dbo].[ETL_Error_Log]

In [0]:
SET IDENTITY_INSERT [dbo].[ETL_Error_Log] ON 
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (1, N'Good Deed not found', N'Peggy Carter,Foiled Hydra,Save city,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (2, N'Person not found', N'Tony Stark,Defeated the Mandarin,Defeat supervillan,', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (3, N'Person not found', N'Melkin Deborah,Help person,Prevented intern from dropping Prod,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (4, N'Translation error', N'Zero Wing,All your base are belong to us,All your base are belong to us,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (5, N'Translation error', N'Zero Wing,Somebody set up us the bomb,Somebody set up us the bomb,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ETL_Error_Log] ([ETL_Error_Log_ID], [Error_Description], [CSV_Data], [Error_Timestamp]) VALUES (6, N'Mismatched number of Values', N'Zero Wing,You have no chance to survive make your time,NULL', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ETL_Error_Log] OFF
GO

# [dbo].[Gadget]

In [0]:
SET IDENTITY_INSERT [dbo].[Gadget] ON 
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (1, N'Lasso of Truth', N'Forces the person trapped in it to tell the truth')
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (2, N'Magical Bracelets', N'Deflect any projectile')
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (3, N'Royal Tiara', N'Defensive and offensive Projectile')
INSERT [dbo].[Gadget] ([Gadget_ID], [Gadget_Name], [Gadget_Desc]) VALUES (4, N'Invisible Jet', N'Transportation')
SET IDENTITY_INSERT [dbo].[Gadget] OFF
GO

# [dbo].[Gadget_Order_Form]

In [0]:
SET IDENTITY_INSERT [dbo].[Gadget_Order_Form] ON 
INSERT [dbo].[Gadget_Order_Form] ([Order_ID], [Order_Date], [Person_ID], [Corporation_ID], [Gadget_ID], [Number_Ordered], [Price_Per_Item], [Tax], [Shipping], [Total_Due]) VALUES (2, CAST(N'2020-11-03T19:41:02.960' AS DateTime), 10, NULL, 1, 2, CAST(100.00 AS Numeric(19, 2)), CAST(10.50 AS Numeric(19, 2)), CAST(10.00 AS Numeric(19, 2)), CAST(220.50 AS Numeric(19, 2)))
INSERT [dbo].[Gadget_Order_Form] ([Order_ID], [Order_Date], [Person_ID], [Corporation_ID], [Gadget_ID], [Number_Ordered], [Price_Per_Item], [Tax], [Shipping], [Total_Due]) VALUES (3, CAST(N'2020-11-03T19:41:02.960' AS DateTime), 10, NULL, 2, 4, CAST(20.00 AS Numeric(19, 2)), CAST(4.20 AS Numeric(19, 2)), CAST(10.00 AS Numeric(19, 2)), CAST(94.20 AS Numeric(19, 2)))
INSERT [dbo].[Gadget_Order_Form] ([Order_ID], [Order_Date], [Person_ID], [Corporation_ID], [Gadget_ID], [Number_Ordered], [Price_Per_Item], [Tax], [Shipping], [Total_Due]) VALUES (4, CAST(N'2020-11-03T19:41:02.960' AS DateTime), 10, NULL, 3, 1, CAST(30.00 AS Numeric(19, 2)), CAST(1.58 AS Numeric(19, 2)), CAST(10.00 AS Numeric(19, 2)), CAST(41.58 AS Numeric(19, 2)))
SET IDENTITY_INSERT [dbo].[Gadget_Order_Form] OFF
GO

# [dbo].[Good_Deed_History]

In [0]:
SET IDENTITY_INSERT [dbo].[Good_Deed_History] ON 
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (1, 4, 10, N'Helped Andy cross the road safely', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (2, 2, 4, N'Saved a cat from a bat', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (3, 4, 5, N'Consoled Peter over loss of Uncle Ben', CAST(N'2010-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (4, 6, 10, N'IDERA Ace defeats Dr Deadlock', CAST(N'2020-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (5, 2, 4, N'Saved a bat', CAST(N'2020-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (6, 8, 13, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (7, 8, 14, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (8, 8, 15, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (9, 8, 13, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (10, 8, 14, N'All your base are belong to us', CAST(N'2020-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (11, 8, 13, N'Hail Hydra', CAST(N'2020-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (12, 8, 14, N'Hail Hydra', CAST(N'2020-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (13, 8, 15, N'Hail Hydra', CAST(N'2020-06-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (14, 3, 11, N'Stopped money laundering by Hydra', CAST(N'1950-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (15, 5, 11, N'Foiled Hydra', CAST(N'1950-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Good_Deed_History] ([Good_Deed_History_ID], [Good_Deed_Type_ID], [Good_Deed_Person_ID], [Good_Deed_Description], [Good_Deed_Timestamp]) VALUES (16, 6, 11, N'Stopped band of Red Skull impersonators', CAST(N'1950-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Good_Deed_History] OFF
GO

# [dbo].[Good_Deed_Type]

In [0]:
SET IDENTITY_INSERT [dbo].[Good_Deed_Type] ON 
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (2, N'Rescue animal')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (3, N'Stop crime')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (4, N'Help person')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (5, N'Save city')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (6, N'Defeat supervillan')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (7, N'HeLp PeRsOn')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (8, N'hElP pErSon')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (9, N'Steal from poor, give to self')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (10, N'Embarrass hero')
INSERT [dbo].[Good_Deed_Type] ([Good_Deed_Type_ID], [Good_Deed_Type_Name]) VALUES (11, N'Dominate world')
SET IDENTITY_INSERT [dbo].[Good_Deed_Type] OFF
GO

# [dbo].[Person]

In [0]:
SET IDENTITY_INSERT [dbo].[Person] ON 
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (2, N'Diana', N'Prince')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (3, N'Linda', N'Danvers')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (4, N'Selina', N'Kyle')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (5, N'May', N'Parker')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (6, N'Natasha', N'Romanoff')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (7, N'Ororo', N'Munroe')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (10, N'Deborah', N'Melkin')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (11, N'Peggy', N'Carter')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (12, N'Doctor', N'Who')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (16, N'Doctor', N'Doom')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (17, N'Lex', N'Luthor')
INSERT [dbo].[Person] ([Person_ID], [First_Name], [Last_Name]) VALUES (18, N'The', N'Master')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO

# [AK_Alter_Ego]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Alter_Ego]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego]') AND name = N'AK_Alter_Ego')
ALTER TABLE [dbo].[Alter_Ego] ADD  CONSTRAINT [AK_Alter_Ego] UNIQUE NONCLUSTERED 
(
	[Alter_Ego_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [FK_Alter_Ego_Comic_Universe]

In [0]:
/****** Object:  Index [FK_Alter_Ego_Comic_Universe]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego]') AND name = N'FK_Alter_Ego_Comic_Universe')
CREATE NONCLUSTERED INDEX [FK_Alter_Ego_Comic_Universe] ON [dbo].[Alter_Ego]
(
	[Comic_Universe_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Alter_Ego_Person]

In [0]:
/****** Object:  Index [UQ_Alter_Ego_Person]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]') AND name = N'UQ_Alter_Ego_Person')
ALTER TABLE [dbo].[Alter_Ego_Person] ADD  CONSTRAINT [UQ_Alter_Ego_Person] UNIQUE NONCLUSTERED 
(
	[Person_ID] ASC,
	[Alter_Ego_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IDX_Alter_Ego_Person_Alter_Ego_ID]

In [0]:
/****** Object:  Index [IDX_Alter_Ego_Person_Alter_Ego_ID]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]') AND name = N'IDX_Alter_Ego_Person_Alter_Ego_ID')
CREATE NONCLUSTERED INDEX [IDX_Alter_Ego_Person_Alter_Ego_ID] ON [dbo].[Alter_Ego_Person]
(
	[Alter_Ego_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Alter_Ego_Person_History]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Alter_Ego_Person_History]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person_History]') AND name = N'UQ_Alter_Ego_Person_History')
ALTER TABLE [dbo].[Alter_Ego_Person_History] ADD  CONSTRAINT [UQ_Alter_Ego_Person_History] UNIQUE NONCLUSTERED 
(
	[History_Date] ASC,
	[ChangeType] ASC,
	[Old_Alter_Ego_ID] ASC,
	[Old_Person_ID] ASC,
	[New_Alter_Ego_ID] ASC,
	[New_Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AK_Comic_Universe]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Comic_Universe]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Comic_Universe]') AND name = N'AK_Comic_Universe')
ALTER TABLE [dbo].[Comic_Universe] ADD  CONSTRAINT [AK_Comic_Universe] UNIQUE NONCLUSTERED 
(
	[Comic_Universe_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AK_Corporation]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Corporation]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Corporation]') AND name = N'AK_Corporation')
ALTER TABLE [dbo].[Corporation] ADD  CONSTRAINT [AK_Corporation] UNIQUE NONCLUSTERED 
(
	[Corporation_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [AK_Gadget]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [AK_Gadget]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget]') AND name = N'AK_Gadget')
ALTER TABLE [dbo].[Gadget] ADD  CONSTRAINT [AK_Gadget] UNIQUE NONCLUSTERED 
(
	[Gadget_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ_Gadget_Order_Form]

In [0]:
/****** Object:  Index [UQ_Gadget_Order_Form]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'UQ_Gadget_Order_Form')
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [UQ_Gadget_Order_Form] UNIQUE NONCLUSTERED 
(
	[Order_Date] ASC,
	[Person_ID] ASC,
	[Corporation_ID] ASC,
	[Gadget_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Gadget_Order_Form_Corporation]

In [0]:
/****** Object:  Index [IX_Gadget_Order_Form_Corporation]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'IX_Gadget_Order_Form_Corporation')
CREATE NONCLUSTERED INDEX [IX_Gadget_Order_Form_Corporation] ON [dbo].[Gadget_Order_Form]
(
	[Corporation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Gadget_Order_Form_Gadget]

In [0]:
/****** Object:  Index [IX_Gadget_Order_Form_Gadget]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'IX_Gadget_Order_Form_Gadget')
CREATE NONCLUSTERED INDEX [IX_Gadget_Order_Form_Gadget] ON [dbo].[Gadget_Order_Form]
(
	[Gadget_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [IX_Gadget_Order_Form_Person]

In [0]:
/****** Object:  Index [IX_Gadget_Order_Form_Person]    Script Date: 11/19/2020 8:09:18 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]') AND name = N'IX_Gadget_Order_Form_Person')
CREATE NONCLUSTERED INDEX [IX_Gadget_Order_Form_Person] ON [dbo].[Gadget_Order_Form]
(
	[Person_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF_Alter_Ego_Person_Alter_Ego_ID]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Alter_Ego_Person_Alter_Ego_ID]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Alter_Ego_Person] ADD  CONSTRAINT [DF_Alter_Ego_Person_Alter_Ego_ID]  DEFAULT ((1)) FOR [Alter_Ego_ID]
END
GO

# [DF_Alter_Ego_Person_History_History_Date]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Alter_Ego_Person_History_History_Date]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Alter_Ego_Person_History] ADD  CONSTRAINT [DF_Alter_Ego_Person_History_History_Date]  DEFAULT (getdate()) FOR [History_Date]
END
GO

# [DF__ETL_Error__Error__787EE5A0]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__ETL_Error__Error__787EE5A0]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[ETL_Error_Log] ADD  DEFAULT (getdate()) FOR [Error_Timestamp]
END
GO

# [DF_Gadget_Order_Form_Order_Date]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Order_Date]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Order_Date]  DEFAULT (getdate()) FOR [Order_Date]
END
GO

# [DF_Gadget_Order_Form_Price_Per_Item]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Price_Per_Item]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Price_Per_Item]  DEFAULT ((0)) FOR [Price_Per_Item]
END
GO

# [DF_Gadget_Order_Form_Tax]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Tax]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Tax]  DEFAULT ((0)) FOR [Tax]
END
GO

# [DF_Gadget_Order_Form_Shipping]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_Shipping]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_Shipping]  DEFAULT ((0)) FOR [Shipping]
END
GO

# [DF_Gadget_Order_Form_TotalDue]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Gadget_Order_Form_TotalDue]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Gadget_Order_Form] ADD  CONSTRAINT [DF_Gadget_Order_Form_TotalDue]  DEFAULT ((0)) FOR [Total_Due]
END
GO

# [DF__Good_Deed__Good___75A278F5]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__Good_Deed__Good___75A278F5]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Good_Deed_History] ADD  DEFAULT (getdate()) FOR [Good_Deed_Timestamp]
END
GO

# [FK_Alter_Ego_Comic_Universe]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Comic_Universe]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego]'))
ALTER TABLE [dbo].[Alter_Ego]  WITH CHECK ADD  CONSTRAINT [FK_Alter_Ego_Comic_Universe] FOREIGN KEY([Comic_Universe_ID])
REFERENCES [dbo].[Comic_Universe] ([Comic_Universe_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Comic_Universe]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego]'))
ALTER TABLE [dbo].[Alter_Ego] CHECK CONSTRAINT [FK_Alter_Ego_Comic_Universe]
GO

# [FK_Alter_Ego_Person_Alter_Ego_ID]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Person_Alter_Ego_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]'))
ALTER TABLE [dbo].[Alter_Ego_Person]  WITH CHECK ADD  CONSTRAINT [FK_Alter_Ego_Person_Alter_Ego_ID] FOREIGN KEY([Alter_Ego_ID])
REFERENCES [dbo].[Alter_Ego] ([Alter_Ego_ID])
ON DELETE SET DEFAULT
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Person_Alter_Ego_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]'))
ALTER TABLE [dbo].[Alter_Ego_Person] CHECK CONSTRAINT [FK_Alter_Ego_Person_Alter_Ego_ID]
GO

# [FK_Alter_Ego_Person_Person_ID]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Person_Person_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]'))
ALTER TABLE [dbo].[Alter_Ego_Person]  WITH CHECK ADD  CONSTRAINT [FK_Alter_Ego_Person_Person_ID] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Alter_Ego_Person_Person_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[Alter_Ego_Person]'))
ALTER TABLE [dbo].[Alter_Ego_Person] CHECK CONSTRAINT [FK_Alter_Ego_Person_Person_ID]
GO

# [FK_Gadget_Order_Form_Corporation]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Corporation]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [FK_Gadget_Order_Form_Corporation] FOREIGN KEY([Corporation_ID])
REFERENCES [dbo].[Corporation] ([Corporation_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Corporation]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [FK_Gadget_Order_Form_Corporation]
GO

# [FK_Gadget_Order_Form_Gadget]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Gadget]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [FK_Gadget_Order_Form_Gadget] FOREIGN KEY([Gadget_ID])
REFERENCES [dbo].[Gadget] ([Gadget_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Gadget]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [FK_Gadget_Order_Form_Gadget]
GO

# [FK_Gadget_Order_Form_Person]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Person]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [FK_Gadget_Order_Form_Person] FOREIGN KEY([Person_ID])
REFERENCES [dbo].[Person] ([Person_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Gadget_Order_Form_Person]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [FK_Gadget_Order_Form_Person]
GO

# [CK_Gadget_Order_Form_Number_Ordered]

In [0]:
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Gadget_Order_Form_Number_Ordered]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form]  WITH CHECK ADD  CONSTRAINT [CK_Gadget_Order_Form_Number_Ordered] CHECK  (([Number_Ordered]>=(0) AND [Number_Ordered]<(10000)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_Gadget_Order_Form_Number_Ordered]') AND parent_object_id = OBJECT_ID(N'[dbo].[Gadget_Order_Form]'))
ALTER TABLE [dbo].[Gadget_Order_Form] CHECK CONSTRAINT [CK_Gadget_Order_Form_Number_Ordered]
GO

# [Person_itr]

In [0]:
/****** Object:  Trigger [dbo].[Person_itr]    Script Date: 11/19/2020 8:09:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[Person_itr]'))
EXEC dbo.sp_executesql @statement = N'
-- Alter remaining trigger on Person
CREATE   TRIGGER [dbo].[Person_itr] ON [dbo].[Person]
FOR INSERT
AS
BEGIN

	INSERT INTO Alter_Ego_Person
	SELECT p.Person_ID, ae.Alter_Ego_ID
	FROM inserted as p
		CROSS JOIN Alter_Ego as ae
	WHERE ae.Alter_Ego_Name = ''Average Citizen''
	
END
' 
GO
ALTER TABLE [dbo].[Person] ENABLE TRIGGER [Person_itr]
GO